@font-face {
    font-family: 'Avenir';
    src: url('hinted-Avenir-Roman.eot');
    src: url('hinted-Avenir-Roman.eot?#iefix') format('embedded-opentype'),
        url('hinted-Avenir-Roman.woff2') format('woff2'),
        url('hinted-Avenir-Roman.woff') format('woff'),
        url('hinted-Avenir-Roman.ttf') format('truetype'),
        url('hinted-Avenir-Roman.svg#Avenir-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

